html{
    scroll-behavior: smooth;
}

.menu{
    background-color: black;
}

#menu li a{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-left: 20px;
}

#slider .carousel-item{
    
    padding-top: 80px;
    text-align: center;
    color:#fff;
}

.carousel-item-inner{
    width: 100%;
    height: 700px;
    background: rgba(0, 0, 0, 0.5);
}
#slider .carousel-item h4{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-top: 200px;
    text-transform: uppercase;

}

#slider .carousel-item h1{
    font-weight: bold;
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    
    text-transform: uppercase;

}

.header-btn{
    border: 1px solid white;
    padding: 7px 25px;
    display: table;
    margin: auto;
    border-radius:20px ;
    margin-top: 25px;
    background-color: #fff;
}

.about-section{
    
    padding-top: 100px;

}

.about-section h1{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.about-inner{
    margin-top: 100px;
}

.about-inner h3{
    margin-bottom: 40px;
    font-size: 40px;
    margin-top: 40px;
}

.about-inner p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px;
    line-height: 30px;
}

.fe-section-item{
    background-color: #f9f9ff;
    margin-bottom: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.fe-section-item:hover{
    background-color: #0095da;
    color: white;
}

.fe-section{
    padding-bottom: 50px;
}


.form-outer{
    margin-top: 50px;
}
.form-outer input{
    height: 45px;
    border-radius: 0px;
    margin-bottom: 30px;


}

.form-outer textarea{
    height: 195px;
    margin-bottom: 30px;
}

.form-outer button{
    border-radius: 20px;
    padding: 7px 30px;
}

.form-outer button .fas{
    transition: 1s;
}

.form-outer button:hover .fas{
    transform: translate(20px);
}

footer{
    background-color: black;
    padding: 100px 0px;
    margin-top: 50px;

}

footer h5{
    color: white;
    margin-bottom: 20px;
}
footer p{
    color: rgb(171, 168, 163);
}

footer form input{
    width: 50% !important;
    border-radius: 0px !important;
    background-color: rgb(41, 38, 38) !important;
    border-right: 0px !important;
}

footer form button{
    border-radius: 0px !important;
}

.s-links i{
    color:white;
    padding-right: 10px;
}